<md-card [class]="'loginCard'">
  <md-card-title-group>
    <md-card-title>Sign-In:</md-card-title>
  </md-card-title-group>
  <md-card-content>
    <form [formGroup]="loginForm">
      <div>
        <md-input formControlName="email" type="email" placeholder="Your Email"></md-input>
      </div>
      <div>
        <md-input formControlName="password" type="password" placeholder="Your Password"></md-input>
      </div>
      <md-checkbox formControlName="rememberMe">
        Remember me
      </md-checkbox>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" [disabled]="authRunning" (click)="doLogin()">Login</button>
  </md-card-actions>
</md-card>