<md-card [class]="'loginCard'">
  <md-card-title-group>
    <md-card-title i18n="Title of Login / Sign-In Screen">Sign-In:</md-card-title>
  </md-card-title-group>
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <md-card-content>
      <div>
        <md-input-container class="full-width">
          <input md-input formControlName="email" type="email" placeholder="Your Email">
          <md-icon md-prefix>person</md-icon>
        </md-input-container>
      </div>
      <div>
        <md-input-container class="full-width">
          <input md-input formControlName="password" type="password" placeholder="Your Password">
          <md-icon md-prefix>lock</md-icon>
        </md-input-container>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" class="full-width" [disabled]="authRunning">Login</button>
    </md-card-actions>
  </form>
</md-card>