<md-toolbar color="primary">Responsive SideNavs using Flex-Layout <button md-raised-button color="primary" (click)="logout()">Logout</button> </md-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav mode="side" [opened]="isOpen" class="example-sidenav">

    <ng-content select="[sidenav-content]"></ng-content>

  </md-sidenav>
  <div class="main-content" (click)="toggleSideNav()" fxLayout="column">

    <ng-content select="[main-content]"></ng-content>

    <router-outlet></router-outlet>

  </div>
</md-sidenav-container>