
<md-sidenav-container>

<md-toolbar color="primary">

  <div class="flex-container" style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center">
<div class="flex-item" fxFlex="20%" fxFlex.xs="40%"></div>
<div class="flex-item" fxFlex></div>
<div class="flex-item" fxFlex="20%" style="text-align: right">

<profile-container></profile-container>

</div>
</div>


</md-toolbar>

  <md-sidenav #sidenav mode="side" [opened]="isOpen">



<!--    <ng-content select="[sidenav-content]"></ng-content>-->

  </md-sidenav>
 <div class="md-sidenav-content">
    <router-outlet></router-outlet>
 </div>
</md-sidenav-container>

